{% extends 'SiteHomepageBundle::layout.html.twig' %}

{% block body %}

<div class="row">

    <div class="span8">
        <h1>Question submitted</h1>
        <p>Your question has been successfully submitted.</p>
    
    </div>
    
{% endblock body %}