<form action="{{ path('question_create_test') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" novalidate="novalidate">
    {{ form_widget(form) }}
    <div>
        <input class="btn" type="submit" id="_register" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>