<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="David Maignan">

        <title>{% block title %}Testonline!{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        {% stylesheets output="css/sitebase.css" filter=''
            '@LibraryBootstrapBundle/Resources/public/css/bootstrap.css'
            '@LibraryBootstrapBundle/Resources/public/css/bootstrap-responsive.css'
            '@LibraryBootstrapBundle/Resources/public/css/show-grid.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
         
        {% block stylesheets %}
        

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        
        {% block header %}{% endblock header %}

        {% block content %}{% endblock %}

        
        {% javascripts output="js/sitebase.js" filter=''
            '@LibraryJQueryBundle/Resources/public/js/jquery.js'
            '@LibraryBootstrapBundle/Resources/public/js/bootstrap.js'
        %}
            <script src="{{ asset_url }}" /></script>
        {% endjavascripts %}

        
        
        {% block javascripts %}
           
        {% endblock %}

        </body>
    </html>
