{% extends 'SiteHomepageBundle::layout.html.twig' %}


{% block body %}
<h1>{{ 'security_registration.confirmation.heading' | trans }}</h1>

<p>{{ 'security_registration.confimration.body' | trans }}</p>

{% endblock %}


