{% extends 'SiteHomepageBundle::layout.html.twig' %}

{% block body %}
  
<h1>Welcome</h1>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}
    
{% endblock %}