{% extends 'SiteHomepageBundle::layout.html.twig' %}


{% block body %}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Your account</h1>
            </div>
        </div>
        <div class="row">
            <div class="span3 well">
                <menu>
                    <li><a href="#">Your questions</a></li>
                    <li><a href="#">Your exams</a></li>
                    <li><a href="#">Your credits</a></li>
                    <li><a href="#">Your results</a></li>
                </menu>
            </div>
            <div class="span8">
                daffds
            </div>
        </div>    
    </div>
</div>

{% endblock body %}