{% extends '::base.html.twig' %}


{% block body %}

<div class="row">

    <div class="span8">

        <h1>Create your test</h1>        

        <form action="" method="post" {{ form_enctype(form) }} novalidate="novalidate">
            
            {{form_widget(form) }}
            <!--
            <h2>1. Choose a language</h2>

            {# form_row(form.section) #}

            <h2>2. Number of candidates</h2>

            {# form_row(form.numberCandidates) #}

            <h2>3. Choose a level</h2>

            {# form_row(form.level) #}

            <h2>4. Choose number of questions</h2>

            {#{ form_row(form.numberQuestions) }#}

            <h2>5. Select the type of questions</h2>

            {#{ form_row(form.type) }#}


            <h2>6. Select some topics (optional) </h2>

            {#{ form_row(form.tags) }#}

            <h2>7. Select more options</h2>

            {#{ form_row(form.options) }#}-->

            {{ form_rest(form) }}
            
            <input class="btn btn-success" type="submit" id="generateExam" value="{{ 'Create test' | trans }}" />
        </form>

    </div>

    <div class="span4">
        Help
    </div>

</div>


{% endblock body %}
